/* GENERAL STYLING */
/* Importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Targeting the whole page */
*{
    margin: 0;
    padding: 5;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.Header {
    display: flex;
    background-color: #1f2937;
    color: white;
    flex-direction: column;
}
.HeaderTop {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
html {
    scroll-behavior: smooth;
}
a {
    color: white;
}

/* Transition styling for links and button */
a, .btn {
    transition: all 300ms ease;

}
.headerbody{
    display: flex;
    margin: 2px;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}
.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    max-width: 444px;
}
.subtitle {
    font-size: 24px;
    max-width: 444px;
    color: #e5e7eb;
    padding: 5px;

    
}

.hbleft {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 40px  ;

}
.hbright {
    max-height: 200px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    /* box-shadow: 2px 3px 10px 1px rgb(67, 91, 99); */
}

.headerbody button {
    background-color: #3883f6;
    color: white;
    margin-right: 20%;
    justify-content: left;
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;

}
/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;

}

.nav-links {
    gap: 2rem;
    list-style: none; /* removes bullet points */
    font-size: 1.2rem;

}
/* section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    padding: 40px;

}
.h2 {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
    justify-content: center;
    display: flex;
}
.boxes {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.squares {
    width: 110px;
    height: 110px;
    border: 5px solid blue;
    border-radius: 10px;
    margin: 20px;
    justify-content: space-around;
}
.section3 {
    background-color: #e5e7eb;
    padding: 50px;    
    display: flex;
    flex-direction: column;

}
.quote{
    margin-left: 25%;
    margin-right: 24%;
    font-size: 20px;
    font-style: italic;
    color: #1f2937
}
.author {
    margin-right: 25%;
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;   
}
.section4 {
    padding: 55px 88px;
    display: flex;
    /* background-color: #3883f6; */

}
.call-action {
    background-color: #3883f6;
    border-radius: 4px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.call-action span {
    font-size: 13px;
    color: #e5e7eb;
}
.call-action-button {
    background-color: #3883f6;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    justify-content: right;
    cursor: pointer;
} 
